<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <div>
        <h1>Robot bending Homework!</h1>

           <h6><%= robot.say_hi %></h6>
           <h6> <%= robot.say_name %></h6>
           <h6> <%= robot.bend(object) %></h6>
      </div>


  </body>
</html>
